@import url('lib/reset.css');
@import url('lib/layout.css');

/*.clearfix:before, .clearfix:after {
    content: ' ';
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
    clear: both;
}*/

.clearfix:before, .clearfix:after {
    content: ' ';
    display: table;
    height: 0;
    line-height: 0;
    clear: both;
}

.clearfix {
    *zoom: 1;
}

