<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style type="text/css">
    #wrapper {
      width: 1000px;
      margin: 0 auto;
    }

    .layout {
      overflow: hidden;
    }

    .col-main {
      margin: 0 200px 0 300px;
    }

    .col-left {
      float: left;
      width: 300px;
    }

    .col-right {
      float: right;
      width: 200px;
    }
  </style>
</head>
<body>
  <div id="wrapper">
    <!-- main必须放在最下面 -->
    <div class="layout">
      <div class="col-left">left</div>
      <div class="col-right">right</div>
      <div class="col-main">main</div>
    </div>
  </div>
</body>
</html>