<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="accordion.css" />
  </head>

  <body>
    <div class="container">
      <div class="accordion-list accordion-info">
        <div class="accordion-item accordion-item-open">
          <div class="accordion-item-toggle">标题一</div>
          <div class="accordion-item-content">
            <p>内容一</p>
            <p>内容</p>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-item-toggle">标题一</div>
          <div class="accordion-item-content">
            <p>内容一</p>
            <p>内容</p>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="accordion.js"></script>
  </body>
</html>
